/* COMMON */
body {
  /* 글꼴 색상 */
  color: #333333;
  /* 폰트 크기 */
  font-size: 16px;
  /* 폰트 두께 */
  font-weight: 400;
  /* 폰트 줄간격 */
  line-height: 1.4;
  /* 글꼴 설정 */
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  /* 크기 설정 */
  width: 1100px;
  /* 가운데정렬 */
  margin: 0 auto;
  position: relative;
}
/* 홈페이지 자세히보기버튼 */
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  color: #FFF;
  background-color: #592B18;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}

/* 애니메이션 효과? 브라우저를 내릴시 화면이 변환되게 설정 */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  /* 수평으로- 150px로 이동 */
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/*HEADER*/
header {
  width: 100%;
  /* fixed를 한이유는 브라우저를 스크롤해도 계속 보이게 할려고 설정한것이다. */
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #F6F5F0;
  border-bottom: 1px solid #c8c8c8;
}
/* 헤더밑에 바로 자식요소 .inner클래스 */
header > .inner {
  height: 120px;
}
/* 로고 설정 */
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* ------------ 서브메뉴 관련 ------------ */
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
/* 가상요소넣기(메뉴 사이사이 구분선 넣기) */
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* 첫번쨰 메뉴 구분선 안보이게 설정 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  /* background-color: red;   */
  /* 패딩 넣은 의미는 사용자가 메뉴를 클릭했을때 범위를 넓히기 위해서 패딩을 살짝 크게 설정 해논 것이다. */
  padding: 11px 16px;
  /* a태그는 인라인요소 이므로 블록요소를 넣어서 크기를 설정해놓게 만듬 */
  display: block;
  font-size: 13px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  /* background-color: red;*/
  position: relative;
  height: 34px;
}

header .sub-menu .search input {
  /* 길이 설정 */
  width: 36px;
  /* 높이 설정 */
  height: inherit;
  /* 클릭 범위 설정 */
  padding: 4px 10px;
  border: 1px solid #ccc;
  /* 요소의 크기 유지 설정 */
  box-sizing: border-box;
  border-radius: 5px;
  /* 테두리선 삭제 */
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  /* 길이 기준 0.4초동안 자연스럽게 */
  transition: width .4s;
}
/* 검색창을 클릭하면 */
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
/* 검색아이콘 */
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
/* 검색을 클릭할 경우 (포커스할경우) 검색모양 안보이게 설정 */
header .sub-menu .search.focused .material-icons {
  /* 투명도 설정 */
  opacity: 0;
}
/* ------------ 메인메뉴 ------------ */
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}



header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2C2A29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  /* 뷰포트기준 */
  position: fixed;
  left: 0;
  /* 메뉴안보이게 설정 */
  display: none;
}
/* 메뉴에 마우스호버시 */
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2C2A29;
}
/* 바로밑에 있는 자식선택자 ul 선택 자식선택자를 안하게되면 모든 ul테그가 관련이 있어서 자식선택자로 선택 */
header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__menu .inner li ul li a {
  text-decoration: none;
  color:#999;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 900;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #64a70b;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  /* 그림이 안넘쳐흐르게 오버플로우 히든을 설정한다. */
  overflow: hidden;
  margin-bottom: 12px;
  /* 박스그림자 설정 */
  box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
/* 푸터 개인정보처리 줄 동그라미 설정 */
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
/* 마지막 글자에서만 동그라미 안보이게 설정 */
footer .menu li:last-child::before {
  display: none;
}

footer .menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}

footer .menu li a.green {
  color: #669900;
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0;
}
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align-last: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0 ;
}